@mixin font-text-10 {
  font: var( --rds-type-text-10 );
}
@mixin font-text-10-size {
  font: var( --rds-type-text-10-size );
}
@mixin font-text-10-weight {
  font: var( --rds-type-text-10-weight );
}
@mixin font-text-9 {
  font: var( --rds-type-text-9 );
}
@mixin font-text-9-size {
  font: var( --rds-type-text-9-size );
}
@mixin font-text-9-weight {
  font: var( --rds-type-text-9-weight );
}
@mixin font-text-8 {
  font: var( --rds-type-text-8 );
}
@mixin font-text-8-size {
  font: var( --rds-type-text-8-size );
}
@mixin font-text-8-weight {
  font: var( --rds-type-text-8-weight );
}
@mixin font-text-7 {
  font: var( --rds-type-text-7 );
}
@mixin font-text-7-size {
  font: var( --rds-type-text-7-size );
}
@mixin font-text-7-weight {
  font: var( --rds-type-text-7-weight );
}
@mixin font-text-6 {
  font: var( --rds-type-text-6 );
}
@mixin font-text-6-size {
  font: var( --rds-type-text-6-size );
}
@mixin font-text-6-weight {
  font: var( --rds-type-text-6-weight );
}
@mixin font-text-5 {
  font: var( --rds-type-text-5 );
}
@mixin font-text-5-size {
  font: var( --rds-type-text-5-size );
}
@mixin font-text-5-weight {
  font: var( --rds-type-text-5-weight );
}
@mixin font-text {
  font: var( --rds-type-text );
}
@mixin font-text-size {
  font: var( --rds-type-text-size );
}
@mixin font-text-weight {
  font: var( --rds-type-text-weight );
}
@mixin font-text-4 {
  font: var( --rds-type-text-4 );
}
@mixin font-text-4-size {
  font: var( --rds-type-text-4-size );
}
@mixin font-text-4-weight {
  font: var( --rds-type-text-4-weight );
}
@mixin font-text-3 {
  font: var( --rds-type-text-3 );
}
@mixin font-text-3-size {
  font: var( --rds-type-text-3-size );
}
@mixin font-text-3-weight {
  font: var( --rds-type-text-3-weight );
}
@mixin font-text-2 {
  font: var( --rds-type-text-2 );
}
@mixin font-text-2-size {
  font: var( --rds-type-text-2-size );
}
@mixin font-text-2-weight {
  font: var( --rds-type-text-2-weight );
}
@mixin font-text-1 {
  font: var( --rds-type-text-1 );
}
@mixin font-text-1-size {
  font: var( --rds-type-text-1-size );
}
@mixin font-text-1-weight {
  font: var( --rds-type-text-1-weight );
}
@mixin font-text-bold-10 {
  font: var( --rds-type-text-bold-10 );
}
@mixin font-text-bold-10-size {
  font: var( --rds-type-text-bold-10-size );
}
@mixin font-text-bold-10-weight {
  font: var( --rds-type-text-bold-10-weight );
}
@mixin font-text-bold-9 {
  font: var( --rds-type-text-bold-9 );
}
@mixin font-text-bold-9-size {
  font: var( --rds-type-text-bold-9-size );
}
@mixin font-text-bold-9-weight {
  font: var( --rds-type-text-bold-9-weight );
}
@mixin font-text-bold-8 {
  font: var( --rds-type-text-bold-8 );
}
@mixin font-text-bold-8-size {
  font: var( --rds-type-text-bold-8-size );
}
@mixin font-text-bold-8-weight {
  font: var( --rds-type-text-bold-8-weight );
}
@mixin font-text-bold-7 {
  font: var( --rds-type-text-bold-7 );
}
@mixin font-text-bold-7-size {
  font: var( --rds-type-text-bold-7-size );
}
@mixin font-text-bold-7-weight {
  font: var( --rds-type-text-bold-7-weight );
}
@mixin font-text-bold-6 {
  font: var( --rds-type-text-bold-6 );
}
@mixin font-text-bold-6-size {
  font: var( --rds-type-text-bold-6-size );
}
@mixin font-text-bold-6-weight {
  font: var( --rds-type-text-bold-6-weight );
}
@mixin font-text-bold-5 {
  font: var( --rds-type-text-bold-5 );
}
@mixin font-text-bold-5-size {
  font: var( --rds-type-text-bold-5-size );
}
@mixin font-text-bold-5-weight {
  font: var( --rds-type-text-bold-5-weight );
}
@mixin font-text-bold {
  font: var( --rds-type-text-bold );
}
@mixin font-text-bold-size {
  font: var( --rds-type-text-bold-size );
}
@mixin font-text-bold-weight {
  font: var( --rds-type-text-bold-weight );
}
@mixin font-text-bold-4 {
  font: var( --rds-type-text-bold-4 );
}
@mixin font-text-bold-4-size {
  font: var( --rds-type-text-bold-4-size );
}
@mixin font-text-bold-4-weight {
  font: var( --rds-type-text-bold-4-weight );
}
@mixin font-text-bold-3 {
  font: var( --rds-type-text-bold-3 );
}
@mixin font-text-bold-3-size {
  font: var( --rds-type-text-bold-3-size );
}
@mixin font-text-bold-3-weight {
  font: var( --rds-type-text-bold-3-weight );
}
@mixin font-text-bold-2 {
  font: var( --rds-type-text-bold-2 );
}
@mixin font-text-bold-2-size {
  font: var( --rds-type-text-bold-2-size );
}
@mixin font-text-bold-2-weight {
  font: var( --rds-type-text-bold-2-weight );
}
@mixin font-text-bold-1 {
  font: var( --rds-type-text-bold-1 );
}
@mixin font-text-bold-1-size {
  font: var( --rds-type-text-bold-1-size );
}
@mixin font-text-bold-1-weight {
  font: var( --rds-type-text-bold-1-weight );
}
@mixin font-sm-text-10 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-10 );
  }
}
@mixin font-sm-text-10-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-10-size );
  }
}
@mixin font-sm-text-10-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-10-weight );
  }
}
@mixin font-sm-text-9 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-9 );
  }
}
@mixin font-sm-text-9-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-9-size );
  }
}
@mixin font-sm-text-9-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-9-weight );
  }
}
@mixin font-sm-text-8 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-8 );
  }
}
@mixin font-sm-text-8-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-8-size );
  }
}
@mixin font-sm-text-8-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-8-weight );
  }
}
@mixin font-sm-text-7 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-7 );
  }
}
@mixin font-sm-text-7-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-7-size );
  }
}
@mixin font-sm-text-7-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-7-weight );
  }
}
@mixin font-sm-text-6 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-6 );
  }
}
@mixin font-sm-text-6-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-6-size );
  }
}
@mixin font-sm-text-6-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-6-weight );
  }
}
@mixin font-sm-text-5 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-5 );
  }
}
@mixin font-sm-text-5-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-5-size );
  }
}
@mixin font-sm-text-5-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-5-weight );
  }
}
@mixin font-sm-text {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text );
  }
}
@mixin font-sm-text-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-size );
  }
}
@mixin font-sm-text-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-weight );
  }
}
@mixin font-sm-text-4 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-4 );
  }
}
@mixin font-sm-text-4-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-4-size );
  }
}
@mixin font-sm-text-4-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-4-weight );
  }
}
@mixin font-sm-text-3 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-3 );
  }
}
@mixin font-sm-text-3-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-3-size );
  }
}
@mixin font-sm-text-3-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-3-weight );
  }
}
@mixin font-sm-text-2 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-2 );
  }
}
@mixin font-sm-text-2-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-2-size );
  }
}
@mixin font-sm-text-2-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-2-weight );
  }
}
@mixin font-sm-text-1 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-1 );
  }
}
@mixin font-sm-text-1-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-1-size );
  }
}
@mixin font-sm-text-1-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-1-weight );
  }
}
@mixin font-sm-text-bold-10 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-10 );
  }
}
@mixin font-sm-text-bold-10-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-10-size );
  }
}
@mixin font-sm-text-bold-10-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-10-weight );
  }
}
@mixin font-sm-text-bold-9 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-9 );
  }
}
@mixin font-sm-text-bold-9-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-9-size );
  }
}
@mixin font-sm-text-bold-9-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-9-weight );
  }
}
@mixin font-sm-text-bold-8 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-8 );
  }
}
@mixin font-sm-text-bold-8-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-8-size );
  }
}
@mixin font-sm-text-bold-8-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-8-weight );
  }
}
@mixin font-sm-text-bold-7 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-7 );
  }
}
@mixin font-sm-text-bold-7-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-7-size );
  }
}
@mixin font-sm-text-bold-7-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-7-weight );
  }
}
@mixin font-sm-text-bold-6 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-6 );
  }
}
@mixin font-sm-text-bold-6-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-6-size );
  }
}
@mixin font-sm-text-bold-6-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-6-weight );
  }
}
@mixin font-sm-text-bold-5 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-5 );
  }
}
@mixin font-sm-text-bold-5-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-5-size );
  }
}
@mixin font-sm-text-bold-5-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-5-weight );
  }
}
@mixin font-sm-text-bold {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold );
  }
}
@mixin font-sm-text-bold-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-size );
  }
}
@mixin font-sm-text-bold-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-weight );
  }
}
@mixin font-sm-text-bold-4 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-4 );
  }
}
@mixin font-sm-text-bold-4-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-4-size );
  }
}
@mixin font-sm-text-bold-4-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-4-weight );
  }
}
@mixin font-sm-text-bold-3 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-3 );
  }
}
@mixin font-sm-text-bold-3-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-3-size );
  }
}
@mixin font-sm-text-bold-3-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-3-weight );
  }
}
@mixin font-sm-text-bold-2 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-2 );
  }
}
@mixin font-sm-text-bold-2-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-2-size );
  }
}
@mixin font-sm-text-bold-2-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-2-weight );
  }
}
@mixin font-sm-text-bold-1 {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-1 );
  }
}
@mixin font-sm-text-bold-1-size {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-1-size );
  }
}
@mixin font-sm-text-bold-1-weight {
  @media screen and (min-width: 576px) {
    font: var( --rds-type-text-bold-1-weight );
  }
}
@mixin font-md-text-10 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-10 );
  }
}
@mixin font-md-text-10-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-10-size );
  }
}
@mixin font-md-text-10-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-10-weight );
  }
}
@mixin font-md-text-9 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-9 );
  }
}
@mixin font-md-text-9-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-9-size );
  }
}
@mixin font-md-text-9-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-9-weight );
  }
}
@mixin font-md-text-8 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-8 );
  }
}
@mixin font-md-text-8-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-8-size );
  }
}
@mixin font-md-text-8-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-8-weight );
  }
}
@mixin font-md-text-7 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-7 );
  }
}
@mixin font-md-text-7-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-7-size );
  }
}
@mixin font-md-text-7-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-7-weight );
  }
}
@mixin font-md-text-6 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-6 );
  }
}
@mixin font-md-text-6-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-6-size );
  }
}
@mixin font-md-text-6-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-6-weight );
  }
}
@mixin font-md-text-5 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-5 );
  }
}
@mixin font-md-text-5-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-5-size );
  }
}
@mixin font-md-text-5-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-5-weight );
  }
}
@mixin font-md-text {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text );
  }
}
@mixin font-md-text-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-size );
  }
}
@mixin font-md-text-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-weight );
  }
}
@mixin font-md-text-4 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-4 );
  }
}
@mixin font-md-text-4-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-4-size );
  }
}
@mixin font-md-text-4-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-4-weight );
  }
}
@mixin font-md-text-3 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-3 );
  }
}
@mixin font-md-text-3-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-3-size );
  }
}
@mixin font-md-text-3-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-3-weight );
  }
}
@mixin font-md-text-2 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-2 );
  }
}
@mixin font-md-text-2-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-2-size );
  }
}
@mixin font-md-text-2-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-2-weight );
  }
}
@mixin font-md-text-1 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-1 );
  }
}
@mixin font-md-text-1-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-1-size );
  }
}
@mixin font-md-text-1-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-1-weight );
  }
}
@mixin font-md-text-bold-10 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-10 );
  }
}
@mixin font-md-text-bold-10-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-10-size );
  }
}
@mixin font-md-text-bold-10-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-10-weight );
  }
}
@mixin font-md-text-bold-9 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-9 );
  }
}
@mixin font-md-text-bold-9-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-9-size );
  }
}
@mixin font-md-text-bold-9-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-9-weight );
  }
}
@mixin font-md-text-bold-8 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-8 );
  }
}
@mixin font-md-text-bold-8-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-8-size );
  }
}
@mixin font-md-text-bold-8-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-8-weight );
  }
}
@mixin font-md-text-bold-7 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-7 );
  }
}
@mixin font-md-text-bold-7-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-7-size );
  }
}
@mixin font-md-text-bold-7-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-7-weight );
  }
}
@mixin font-md-text-bold-6 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-6 );
  }
}
@mixin font-md-text-bold-6-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-6-size );
  }
}
@mixin font-md-text-bold-6-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-6-weight );
  }
}
@mixin font-md-text-bold-5 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-5 );
  }
}
@mixin font-md-text-bold-5-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-5-size );
  }
}
@mixin font-md-text-bold-5-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-5-weight );
  }
}
@mixin font-md-text-bold {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold );
  }
}
@mixin font-md-text-bold-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-size );
  }
}
@mixin font-md-text-bold-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-weight );
  }
}
@mixin font-md-text-bold-4 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-4 );
  }
}
@mixin font-md-text-bold-4-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-4-size );
  }
}
@mixin font-md-text-bold-4-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-4-weight );
  }
}
@mixin font-md-text-bold-3 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-3 );
  }
}
@mixin font-md-text-bold-3-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-3-size );
  }
}
@mixin font-md-text-bold-3-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-3-weight );
  }
}
@mixin font-md-text-bold-2 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-2 );
  }
}
@mixin font-md-text-bold-2-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-2-size );
  }
}
@mixin font-md-text-bold-2-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-2-weight );
  }
}
@mixin font-md-text-bold-1 {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-1 );
  }
}
@mixin font-md-text-bold-1-size {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-1-size );
  }
}
@mixin font-md-text-bold-1-weight {
  @media screen and (min-width: 768px) {
    font: var( --rds-type-text-bold-1-weight );
  }
}
@mixin font-lg-text-10 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-10 );
  }
}
@mixin font-lg-text-10-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-10-size );
  }
}
@mixin font-lg-text-10-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-10-weight );
  }
}
@mixin font-lg-text-9 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-9 );
  }
}
@mixin font-lg-text-9-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-9-size );
  }
}
@mixin font-lg-text-9-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-9-weight );
  }
}
@mixin font-lg-text-8 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-8 );
  }
}
@mixin font-lg-text-8-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-8-size );
  }
}
@mixin font-lg-text-8-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-8-weight );
  }
}
@mixin font-lg-text-7 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-7 );
  }
}
@mixin font-lg-text-7-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-7-size );
  }
}
@mixin font-lg-text-7-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-7-weight );
  }
}
@mixin font-lg-text-6 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-6 );
  }
}
@mixin font-lg-text-6-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-6-size );
  }
}
@mixin font-lg-text-6-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-6-weight );
  }
}
@mixin font-lg-text-5 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-5 );
  }
}
@mixin font-lg-text-5-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-5-size );
  }
}
@mixin font-lg-text-5-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-5-weight );
  }
}
@mixin font-lg-text {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text );
  }
}
@mixin font-lg-text-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-size );
  }
}
@mixin font-lg-text-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-weight );
  }
}
@mixin font-lg-text-4 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-4 );
  }
}
@mixin font-lg-text-4-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-4-size );
  }
}
@mixin font-lg-text-4-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-4-weight );
  }
}
@mixin font-lg-text-3 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-3 );
  }
}
@mixin font-lg-text-3-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-3-size );
  }
}
@mixin font-lg-text-3-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-3-weight );
  }
}
@mixin font-lg-text-2 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-2 );
  }
}
@mixin font-lg-text-2-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-2-size );
  }
}
@mixin font-lg-text-2-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-2-weight );
  }
}
@mixin font-lg-text-1 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-1 );
  }
}
@mixin font-lg-text-1-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-1-size );
  }
}
@mixin font-lg-text-1-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-1-weight );
  }
}
@mixin font-lg-text-bold-10 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-10 );
  }
}
@mixin font-lg-text-bold-10-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-10-size );
  }
}
@mixin font-lg-text-bold-10-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-10-weight );
  }
}
@mixin font-lg-text-bold-9 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-9 );
  }
}
@mixin font-lg-text-bold-9-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-9-size );
  }
}
@mixin font-lg-text-bold-9-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-9-weight );
  }
}
@mixin font-lg-text-bold-8 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-8 );
  }
}
@mixin font-lg-text-bold-8-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-8-size );
  }
}
@mixin font-lg-text-bold-8-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-8-weight );
  }
}
@mixin font-lg-text-bold-7 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-7 );
  }
}
@mixin font-lg-text-bold-7-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-7-size );
  }
}
@mixin font-lg-text-bold-7-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-7-weight );
  }
}
@mixin font-lg-text-bold-6 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-6 );
  }
}
@mixin font-lg-text-bold-6-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-6-size );
  }
}
@mixin font-lg-text-bold-6-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-6-weight );
  }
}
@mixin font-lg-text-bold-5 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-5 );
  }
}
@mixin font-lg-text-bold-5-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-5-size );
  }
}
@mixin font-lg-text-bold-5-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-5-weight );
  }
}
@mixin font-lg-text-bold {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold );
  }
}
@mixin font-lg-text-bold-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-size );
  }
}
@mixin font-lg-text-bold-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-weight );
  }
}
@mixin font-lg-text-bold-4 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-4 );
  }
}
@mixin font-lg-text-bold-4-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-4-size );
  }
}
@mixin font-lg-text-bold-4-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-4-weight );
  }
}
@mixin font-lg-text-bold-3 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-3 );
  }
}
@mixin font-lg-text-bold-3-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-3-size );
  }
}
@mixin font-lg-text-bold-3-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-3-weight );
  }
}
@mixin font-lg-text-bold-2 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-2 );
  }
}
@mixin font-lg-text-bold-2-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-2-size );
  }
}
@mixin font-lg-text-bold-2-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-2-weight );
  }
}
@mixin font-lg-text-bold-1 {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-1 );
  }
}
@mixin font-lg-text-bold-1-size {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-1-size );
  }
}
@mixin font-lg-text-bold-1-weight {
  @media screen and (min-width: 992px) {
    font: var( --rds-type-text-bold-1-weight );
  }
}
@mixin font-xlg-text-10 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-10 );
  }
}
@mixin font-xlg-text-10-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-10-size );
  }
}
@mixin font-xlg-text-10-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-10-weight );
  }
}
@mixin font-xlg-text-9 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-9 );
  }
}
@mixin font-xlg-text-9-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-9-size );
  }
}
@mixin font-xlg-text-9-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-9-weight );
  }
}
@mixin font-xlg-text-8 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-8 );
  }
}
@mixin font-xlg-text-8-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-8-size );
  }
}
@mixin font-xlg-text-8-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-8-weight );
  }
}
@mixin font-xlg-text-7 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-7 );
  }
}
@mixin font-xlg-text-7-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-7-size );
  }
}
@mixin font-xlg-text-7-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-7-weight );
  }
}
@mixin font-xlg-text-6 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-6 );
  }
}
@mixin font-xlg-text-6-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-6-size );
  }
}
@mixin font-xlg-text-6-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-6-weight );
  }
}
@mixin font-xlg-text-5 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-5 );
  }
}
@mixin font-xlg-text-5-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-5-size );
  }
}
@mixin font-xlg-text-5-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-5-weight );
  }
}
@mixin font-xlg-text {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text );
  }
}
@mixin font-xlg-text-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-size );
  }
}
@mixin font-xlg-text-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-weight );
  }
}
@mixin font-xlg-text-4 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-4 );
  }
}
@mixin font-xlg-text-4-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-4-size );
  }
}
@mixin font-xlg-text-4-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-4-weight );
  }
}
@mixin font-xlg-text-3 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-3 );
  }
}
@mixin font-xlg-text-3-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-3-size );
  }
}
@mixin font-xlg-text-3-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-3-weight );
  }
}
@mixin font-xlg-text-2 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-2 );
  }
}
@mixin font-xlg-text-2-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-2-size );
  }
}
@mixin font-xlg-text-2-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-2-weight );
  }
}
@mixin font-xlg-text-1 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-1 );
  }
}
@mixin font-xlg-text-1-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-1-size );
  }
}
@mixin font-xlg-text-1-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-1-weight );
  }
}
@mixin font-xlg-text-bold-10 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-10 );
  }
}
@mixin font-xlg-text-bold-10-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-10-size );
  }
}
@mixin font-xlg-text-bold-10-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-10-weight );
  }
}
@mixin font-xlg-text-bold-9 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-9 );
  }
}
@mixin font-xlg-text-bold-9-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-9-size );
  }
}
@mixin font-xlg-text-bold-9-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-9-weight );
  }
}
@mixin font-xlg-text-bold-8 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-8 );
  }
}
@mixin font-xlg-text-bold-8-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-8-size );
  }
}
@mixin font-xlg-text-bold-8-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-8-weight );
  }
}
@mixin font-xlg-text-bold-7 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-7 );
  }
}
@mixin font-xlg-text-bold-7-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-7-size );
  }
}
@mixin font-xlg-text-bold-7-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-7-weight );
  }
}
@mixin font-xlg-text-bold-6 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-6 );
  }
}
@mixin font-xlg-text-bold-6-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-6-size );
  }
}
@mixin font-xlg-text-bold-6-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-6-weight );
  }
}
@mixin font-xlg-text-bold-5 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-5 );
  }
}
@mixin font-xlg-text-bold-5-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-5-size );
  }
}
@mixin font-xlg-text-bold-5-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-5-weight );
  }
}
@mixin font-xlg-text-bold {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold );
  }
}
@mixin font-xlg-text-bold-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-size );
  }
}
@mixin font-xlg-text-bold-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-weight );
  }
}
@mixin font-xlg-text-bold-4 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-4 );
  }
}
@mixin font-xlg-text-bold-4-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-4-size );
  }
}
@mixin font-xlg-text-bold-4-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-4-weight );
  }
}
@mixin font-xlg-text-bold-3 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-3 );
  }
}
@mixin font-xlg-text-bold-3-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-3-size );
  }
}
@mixin font-xlg-text-bold-3-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-3-weight );
  }
}
@mixin font-xlg-text-bold-2 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-2 );
  }
}
@mixin font-xlg-text-bold-2-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-2-size );
  }
}
@mixin font-xlg-text-bold-2-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-2-weight );
  }
}
@mixin font-xlg-text-bold-1 {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-1 );
  }
}
@mixin font-xlg-text-bold-1-size {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-1-size );
  }
}
@mixin font-xlg-text-bold-1-weight {
  @media screen and (min-width: 1200px) {
    font: var( --rds-type-text-bold-1-weight );
  }
}